<main>
    <div class="container">
        <div class="row_ntt">
            <div class="col-12_ntt" id="menu_borrow">
                <ul class="menu_borrow">
                    <li class="nav_borrow">
                        <a href="/">Dụng cụ đo</a>
                    </li>
                    <li class="nav_borrow">
                        <a href="#">Dụng cụ cắt</a>
                        <ul>
                            <li><a href="/device/registerDevice">Đăng ký lấy từ xa</a></li>
                        </ul>
                    </li>
                    <li class="nav_borrow">
                        <a href="#">Dụng cụ gọt</a>
                        <ul>
                            <li><a href="/report/historyUser">Lịch sử thao thác</a></li>
                        </ul>
                    </li>
                    <li class="nav_borrow">
                        <a href="javascript:void(0)">Dụng cụ tỉa</a>
                    </li>
                </ul>
            </div>

        </div>
    </div>
</main>