<div class="titleLogin">
    <h3>Kiểm kê</h3>
</div>
<div class="container">
    <div class="row text-center">
        <div class="col-md-6">
            <button type="button" class="btn btn_lg_ntt btn-info btn_left_export">Export excel</button>
        </div>
        <div class="col-md-6">
            <button type="button" class="btn btn_lg_ntt btn-secondary btn_right_open_key">Mở khóa tủ</button>
        </div>
    </div>
</div>