<div class="titleLogin">
    <h3>Import List</h3>
</div>
<div class="table_auth">
    <div class="tabel_auth_title">
        <div class="text-center">
            <button type="button" class="btn btn-dark mt-4 mb-4">Thêm tất cả hình ảnh</button>
            <button type="button" class="btn btn-dark mt-4 mb-4">Thêm file excel</button>
        </div>
    </div>
    <div class="table_auth_content">
        <div class="container">
            <div class="row">
                <table class="table table-hover">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Tên dụng cụ</th>
                            <th scope="col">Loại dụng cụ</th>
                            <th scope="col">Kích thước</th>
                            <th scope="col">Hình ảnh</th>
                            <th scope="col">RFID</th>
                            <th scope="col">Vị trí</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">Kéo dài</th>
                            <td>Kéo</td>
                            <td>123cm</td>
                            <td>Img</td>
                            <td>1231bdf2131</td>
                            <td>Chọn vị trí</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>